a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #230E2B;
  background: radial-gradient(circle at center bottom, #381a42 0%, #230E2B 60%) no-repeat, #230E2B;
  cursor: default;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

input[type=file] {
  display: none;
}

select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.blob-left {
  position: absolute;
  width: 100%;
  left: -60%;
  z-index: -1;
}
.blob-left:nth-of-type(2) {
  filter: blur(0.5rem);
}

.blob-right {
  position: absolute;
  width: 100%;
  right: -60%;
  z-index: -1;
}
.blob-right:last-of-type {
  filter: blur(0.5rem);
}

.container {
  max-width: 73.75em;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.header__country {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b0522;
  padding: 0.75rem;
  gap: 1em;
}
.header__country-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header__country-text {
  font-size: 1em;
  text-transform: uppercase;
}
.header__country-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__country-button {
  align-self: flex-start;
  height: 24px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__logo-name:hover {
  color: #fe6703;
}
.header__login-link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#230E2B, #230E2B) padding-box, linear-gradient(to right, #ee0d88, #ff6a00) border-box;
  border: 1px solid transparent;
  border-radius: 50em;
  padding: 0.6875rem 2.25rem;
}
.header__list {
  display: none;
}
.header__menu--logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__menu--login {
  display: none;
}
.header__burger {
  display: none;
}

.footer {
  font-size: 0.875em;
  padding: 1.875rem;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
.footer__lang-select {
  color: #fff;
  background: none;
  border: none;
}
@media (max-width: 1024px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer__menu {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  .footer__politics, .footer__menu, .footer__lang {
    margin: 0 0 1.25rem 0;
  }
  .footer__copyright {
    font-size: 0.875em;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 1rem;
  }
  .footer__menu {
    gap: 0.625rem;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.625em;
  }
  .footer__list {
    gap: 0.3rem;
  }
}

.header {
  background: #2d1436;
}
.header__row {
  height: 7.5rem;
}
.header__menu--logout {
  display: none;
}
.header__menu--login {
  display: flex;
  justify-content: space-between;
}
.header__menu-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header__list, .header__col {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.header__list-link:hover {
  color: #fe6703;
}
.header__list_active {
  color: #fe6703;
  background: linear-gradient(#2d1436, #2d1436) padding-box, linear-gradient(to right, #ee0d88, #ff6a00) border-box;
  border-bottom: 4px solid transparent;
  padding: 0 0 2.875rem 0;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__user-name:hover {
  color: #fe6703;
}
.header__search {
  position: relative;
  left: 60px;
}
@media (max-width: 1180px) {
  .header__search {
    position: relative;
    left: 30px;
  }
}
@media (max-width: 1024px) {
  .header__list {
    gap: 2rem;
  }
  .header__user-name {
    display: none;
  }
  .header__col {
    gap: 2rem;
  }
}
@media (max-width: 920px) {
  .header__search {
    position: static;
  }
}
@media (max-width: 800px) {
  .header__logo-name {
    display: none;
  }
  .header__list {
    gap: 1rem;
  }
  .header__col {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .header__country {
    display: none;
  }
  .header__menu-country {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__row {
    justify-content: space-around;
  }
  .header__logo-image {
    width: 2.5rem;
  }
  .header__menu--login {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__search-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header__bell-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.5625rem;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(to right, #ee0d88, #ff6a00);
    height: 3px;
    border-radius: 6.25rem;
  }
  .header__burger span {
    position: absolute;
    background: linear-gradient(to right, #ee0d88, #ff6a00);
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
    border-radius: 6.25rem;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}

.main {
  min-height: calc(100vh - 170px - 75px);
  overflow: hidden;
}

.notfound__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.notfound__header {
  font-size: 18.75em;
  font-weight: 500;
}
.notfound__text {
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}
.notfound__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  align-self: center;
  padding: 1.5rem 2.185rem;
  border: 1px solid #fff;
  border-radius: 6rem;
  width: 50%;
}
.notfound__button--arrow {
  transform: rotate(90deg);
}

.blob,
.blob__outline {
  position: absolute;
  z-index: -1;
  width: 70%;
}
@media (max-width: 1250px) {
  .blob,
.blob__outline {
    width: 900px;
  }
}

.blob__outline:nth-child(2) svg {
  transform: scale(1.2);
}

.blob__outline:nth-child(3) svg {
  transform: scale(1.3);
}

.blob__outline:nth-child(4) svg {
  transform: scale(1.4);
}

.blob__outline:nth-child(5) svg {
  transform: scale(1.5);
}

.blob__outline:nth-child(6) svg {
  transform: scale(1.6);
}

@media (max-width: 900px) {
  .notfound__header {
    font-size: 9.375em;
    margin: 0 auto;
  }
  .notfound__text {
    font-size: 0.875em;
  }
  .notfound__button {
    font-size: 0.9em;
    padding: 1.125rem 2.25rem;
    width: 80%;
  }
}