a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #230E2B;
  background: radial-gradient(circle at center bottom, #381a42 0%, #230e2b 60%) no-repeat, #230e2b;
  cursor: default;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.blob-left {
  position: absolute;
  width: 100%;
  left: -60%;
  z-index: -1;
}
.blob-left:nth-of-type(2) {
  filter: blur(0.5rem);
}

.blob-right {
  position: absolute;
  width: 100%;
  right: -60%;
  z-index: -1;
}
.blob-right:last-of-type {
  filter: blur(0.5rem);
}

.container {
  max-width: 73.75em;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.header__country {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b0522;
  padding: 0.75rem;
  gap: 1em;
}
.header__country-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header__country-text {
  font-size: 1em;
  text-transform: uppercase;
}
.header__country-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header__country-button {
  align-self: flex-start;
  height: 24px;
}
.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header_--login-link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  -o-border-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%);
     border-image: linear-gradient(to right, #ee0979 0%, #ff6a00 100%);
  border-width: 1px;
  border-radius: 50em;
  padding: 0.6875rem 2.25rem;
}
.header__list {
  display: none;
}
.header__menu--logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header__menu--login {
  display: none;
}
.header__burger {
  display: none;
}

.footer {
  font-size: 0.875em;
  padding: 1.875rem;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
.footer__lang-select {
  color: #fff;
  background: none;
  border: none;
}
@media (max-width: 1024px) {
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer__menu {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  .footer__politics, .footer__menu, .footer__lang {
    margin: 0 0 1.25rem 0;
  }
  .footer__copyright {
    font-size: 0.875em;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 1rem;
  }
  .footer__menu {
    gap: 0.625rem;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.625em;
  }
  .footer__list {
    gap: 0.3rem;
  }
}

.tab {
  align-self: flex-start;
  background: #1c0a22;
  border-radius: 1.875rem;
  display: flex;
  flex-direction: column;
  flex: 1 1 23%;
  gap: 1.25rem;
  padding: 1.875rem 0;
}
.tab__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  padding: 0 1.875rem;
}
.tab__item_active {
  padding: 0 1.75rem;
  background: linear-gradient(#1c0a22, #1c0a22) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-left: 2px solid transparent;
}
.tab__item_active .tab__svg path {
  fill: url(#gradient);
}
.tab__item:last-child {
  margin: 3.125rem 0 0 0;
}
.tab__item:hover .tab__svg path {
  fill: url(#gradient);
}
.tab__form {
  display: none;
}
@media (max-width: 920px) {
  .tab {
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    padding: 0;
  }
  .tab__item {
    padding: 0;
  }
  .tab__item_active {
    padding: 1.875rem 0;
    border-left: none;
    border-bottom: 2px solid transparent;
  }
  .tab__item:last-child {
    margin: 0;
  }
}
@media (max-width: 620px) {
  .tab__svg {
    width: 2rem;
    height: 2rem;
  }
  .tab__link {
    display: none;
  }
}
@media (max-width: 425px) {
  .tab__item {
    display: none;
  }
  .tab__form {
    display: block;
    width: 100%;
  }
  .tab__form_select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: relative;
    width: 100%;
    font-size: 1rem;
    line-height: 150%;
    color: #fff;
    background: linear-gradient(#230E2B, #230E2B) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
    border-radius: 10rem;
    border: 1px solid transparent;
    padding: 1.125rem 1.875rem;
  }
  .tab__form::after {
    content: "";
    background: url(/assets/svg/arrow.svg) no-repeat right center;
    width: 18px;
    height: 18px;
    top: 36px;
    right: 10%;
    position: absolute;
  }
}

.header {
  background: #2d1436;
}
.header__row {
  height: 7.5rem;
}
.header__menu--logout {
  display: none;
}
.header__menu--login {
  display: flex;
  justify-content: space-between;
}
.header__menu-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header__list, .header__col {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.header__list_active {
  color: #fe6703;
  background: linear-gradient(#2d1436, #2d1436) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-bottom: 4px solid transparent;
  padding: 0 0 2.875rem 0;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header__search {
  position: relative;
  left: 60px;
}
@media (max-width: 1180px) {
  .header__search {
    position: relative;
    left: 30px;
  }
}
@media (max-width: 1024px) {
  .header__list {
    gap: 2rem;
  }
  .header__user-name {
    display: none;
  }
  .header__col {
    gap: 2rem;
  }
}
@media (max-width: 920px) {
  .header__search {
    position: static;
  }
}
@media (max-width: 800px) {
  .header__logo-name {
    display: none;
  }
  .header__list {
    gap: 1rem;
  }
  .header__col {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .header__country {
    display: none;
  }
  .header__menu-country {
    display: none;
  }
}
@media (max-width: 500px) {
  .header__row {
    justify-content: space-around;
  }
  .header__logo-image {
    width: 2.5rem;
  }
  .header__menu--login {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__search-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header__bell-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.5625rem;
  }
  .header__burger::before, .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    height: 3px;
    border-radius: 6.25rem;
  }
  .header__burger span {
    position: absolute;
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
    border-radius: 6.25rem;
  }
  .header__burger::before {
    top: 0;
  }
  .header__burger::after {
    bottom: 0;
  }
}

.main {
  min-height: calc(100vh - 10.625rem - 4.6875rem);
  align-items: stretch;
  justify-content: flex-start;
}

.favorite {
  margin: 1rem 0 0 0;
}
.favorite__header {
  font-size: 1.75em;
}
.favorite__row {
  display: flex;
  gap: 1.25rem;
}
.favorite__catalog {
  display: flex;
  flex-direction: column;
  flex: 1 1 80%;
  gap: 1.25rem;
}
.favorite__items {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 1.25rem;
}
.favorite__item {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: flex-end;
  gap: 0.625rem;
  font-weight: 500;
  line-height: 150%;
  min-height: 21.875rem;
  background: url(/assets/png/catalog__item-1.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  border-radius: 25px;
}
.favorite__item_online .catalog__item-name::after {
  content: url(/assets/svg/catalog__item_online.svg);
  position: relative;
  top: -0.5rem;
  margin: 0.625rem;
}
.favorite__item-info {
  padding-top: 100%;
}
.favorite__item-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  width: 100%;
  font-size: 0.875em;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  border-radius: 6.25rem;
  padding: 0.875rem 1.875rem;
  z-index: 1;
}
.favorite__item-country {
  display: flex;
  align-items: center;
  gap: 0.3125rem;
  font-size: 0.75em;
  font-weight: 400;
}
.favorite__item-flag {
  width: 1.125rem;
}
.favorite__item-name, .favorite__item-country {
  padding: 0 0 0 1.25rem;
}
.favorite__item--delete {
  width: 1.25rem;
  align-self: flex-end;
  padding: 1.25rem;
}
@media (max-width: 920px) {
  .favorite__row {
    flex-direction: column;
  }
}
@media (max-width: 720px) {
  .favorite__items {
    flex-wrap: wrap;
    gap: 0.625rem;
  }
  .favorite__item {
    flex: 45%;
  }
  .favorite__item--button-text {
    display: none;
  }
  .favorite__item:last-child {
    flex: 0 1 50%;
  }
}
@media (max-width: 375px) {
  .favorite__item {
    flex: 50%;
    justify-content: space-between;
  }
  .favorite__item--delete {
    padding: 1rem;
  }
  .favorite__item:last-child {
    flex: 50%;
  }
}
@media (max-width: 320px) {
  .favorite__item {
    flex: 1 1 auto;
  }
}