a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #230E2B;
  background: radial-gradient(circle at center bottom, #381A42 0%, #230E2B 60%) no-repeat, #230E2B;
  cursor: default;
}

button {
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.blob-left {
  position: absolute;
  width: 100%;
  left: -60%;
  z-index: -1;
}
.blob-left:nth-of-type(2) {
  filter: blur(0.5rem);
}

.blob-right {
  position: absolute;
  width: 100%;
  right: -60%;
  z-index: -1;
}
.blob-right:last-of-type {
  filter: blur(0.5rem);
}

.container {
  max-width: 73.75em;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.header .header__country {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b0522;
  padding: 0.75rem;
  gap: 1em;
}
.header .header__country-text {
  font-size: 1rem;
  text-transform: uppercase;
}
.header .header__country-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .header__country-row .header__country-button {
  align-self: flex-start;
  height: 24px;
}
.header .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header__list {
  display: none;
}
.header .header__menu_logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .header__login-link {
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#230E2B, #230E2B) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  padding: 0.6875rem 2.25rem;
}
.header .header__menu_login {
  display: none;
}
.header .header__burger {
  display: none;
}

.footer {
  font-size: 0.875rem;
  padding: 1.875rem;
}
.footer .footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
.footer .footer__lang-select {
  color: #fff;
  background: none;
  border: none;
}

@media (max-width: 1024px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__menu {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  .footer .footer__politics, .footer .footer__menu, .footer .footer__lang {
    margin: 0 0 1.25rem 0;
  }
  .footer .footer__copyright {
    font-size: 0.875rem;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 1rem;
  }
  .footer__menu {
    gap: 0.625rem;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 10px;
  }
  .footer .footer__list {
    gap: 0.3rem;
  }
}
@media (max-width: 600px) {
  .header .header__country {
    display: none;
  }
  .header__row {
    flex-direction: column;
    margin: 1.25rem 0 1.875rem 0;
  }
  .header__row .header__logo {
    margin: 0 0 1.25rem 0;
  }
  .header__menu_logout {
    flex-direction: column;
  }
}
.main {
  min-height: calc(100vh - 6.875rem - 4.6875rem);
}
.main .login__row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 72%;
}
.main .login__header {
  font-size: 3.75rem;
  font-weight: 500;
  text-align: center;
  margin: 0 0 0.625em 0;
}
.main .login__text {
  text-align: center;
  line-height: 150%;
}
.main .login__form {
  width: 50%;
  margin: 3.125rem 0 0;
}
.main .login__form .login__form__row {
  display: flex;
  flex-direction: column;
}
.main .login__form .login__form-input {
  width: 100%;
  color: #8b5d9a;
  border: none;
  border-radius: 6.25rem;
  padding: 1.4375rem 0;
  text-indent: 3rem;
  margin: 0 0 0.625rem 0;
  background: url(/assets/svg/message.svg) no-repeat left 1rem center, #42204E;
}
.main .login__form .login__form-input::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.main .login__form .login__form-input:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.main .login__form .login__form-input::placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.main .login__form .login__form-input_button {
  background: url(/assets/svg/password.svg) no-repeat left 1rem center, #42204E;
}
.main .login__form .login__form_password {
  position: relative;
}
.main .login__form .login__form-showpass {
  position: absolute;
  right: 5%;
  top: 30%;
}
.main .login__form .login__form-button {
  width: 100%;
  padding: 1.4375rem 0;
  border-radius: 6.25rem;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  box-shadow: 0 5px 50px rgba(238, 9, 121, 0.2), 0 5px 50px rgba(255, 106, 0, 0.2);
  z-index: -1;
  margin: 0 0 1.25rem 0;
}
.main .login__form .login__form-button-forget {
  width: 100%;
  font-size: 0.875rem;
  align-self: center;
  color: #925fa4;
}

@media (max-width: 1024px) {
  .blob-left,
.blob-right {
    top: 20%;
  }
  .main {
    min-height: calc(100vh - 6.875rem - 10.9375rem);
  }
  .main .container {
    padding: 1rem;
  }
}
@media (max-width: 768px) {
  .blob-right {
    top: 50%;
  }
  .main .login__header {
    font-size: 2.25rem;
  }
  .main .login__form {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .main {
    min-height: calc(100vh - 9.5rem - 10.9375rem);
  }
  .main .login__row {
    max-width: 90%;
  }
}