a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #230E2B;
  background: radial-gradient(circle at center bottom, #381a42 0%, #230e2b 60%) no-repeat, #230e2b;
  cursor: default;
}

button {
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.blob-left {
  position: absolute;
  width: 100%;
  left: -60%;
  z-index: -1;
}
.blob-left:nth-of-type(2) {
  filter: blur(0.5rem);
}

.blob-right {
  position: absolute;
  width: 100%;
  right: -60%;
  z-index: -1;
}
.blob-right:last-of-type {
  filter: blur(0.5rem);
}

.container {
  max-width: 73.75em;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.header__country-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header .header__country {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b0522;
  padding: 0.75rem;
  gap: 1em;
}
.header .header__country-text {
  font-size: 1em;
  text-transform: uppercase;
}
.header .header__country-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .header__country-row .header__country-button {
  align-self: flex-start;
  height: 24px;
}
.header .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header__list {
  display: none;
}
.header .header__menu_logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .header__login-link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#230E2B, #230E2B) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  padding: 0.6875rem 2.25rem;
}
.header .header__menu_login {
  display: none;
}
.header .header__burger {
  display: none;
}

.footer {
  font-size: 0.875em;
  padding: 1.875rem;
}
.footer .footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
.footer .footer__lang-select {
  color: #fff;
  background: none;
  border: none;
}

@media (max-width: 1024px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__menu {
    font-size: 0.75em;
    white-space: nowrap;
  }
  .footer .footer__politics,
.footer .footer__menu,
.footer .footer__lang {
    margin: 0 0 1.25rem 0;
  }
  .footer .footer__copyright {
    font-size: 0.875em;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 1rem;
  }
  .footer__menu {
    gap: 0.625rem;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.625em;
  }
  .footer .footer__list {
    gap: 0.3rem;
  }
}
.header {
  background: #2d1436;
}
.header .header__row {
  height: 7.5rem;
}
.header .header__menu_logout {
  display: none;
}
.header .header__menu_login {
  display: flex;
  justify-content: space-between;
}
.header .header__list,
.header .header__col {
  display: flex;
  align-items: center;
  gap: 3.125rem;
}
.header__list_active {
  color: #fe6703;
  background: linear-gradient(#2d1436, #2d1436) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-bottom: 4px solid transparent;
  padding: 0 0 2.875rem 0;
}
.header .header__menu-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header .header__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .header .header__list {
    gap: 2rem;
  }
  .header .header__user-name {
    display: none;
  }
  .header .header__col {
    gap: 2rem;
  }
}
@media (max-width: 800px) {
  .header .header__logo-name {
    display: none;
  }
  .header .header__list {
    gap: 1rem;
  }
  .header .header__col {
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .header .header__country {
    display: none;
  }
  .header .header__menu-country {
    display: none;
  }
}
@media (max-width: 500px) {
  .header .header__row {
    justify-content: space-around;
  }
  .header .header__logo-image {
    width: 2.5rem;
  }
  .header .header__menu_login {
    display: none;
  }
  .header .header__list {
    display: none;
  }
  .header .header__search-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header .header__bell-svg {
    width: 1.875rem;
    height: 1.875rem;
  }
  .header .header__burger {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.5625rem;
  }
  .header .header__burger::before,
.header .header__burger::after {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    height: 3px;
    border-radius: 6.25rem;
  }
  .header .header__burger span {
    position: absolute;
    background: linear-gradient(90deg, #ee0979, #ff6a00);
    left: 0;
    width: 100%;
    height: 3px;
    top: 11px;
    border-radius: 6.25rem;
  }
  .header .header__burger::before {
    top: 0;
  }
  .header .header__burger::after {
    bottom: 0;
  }
}
.main {
  min-height: calc(100vh - 10.625rem - 4.6875rem);
}

.profile {
  margin: 1rem 0 0 0;
}
.profile__changer {
  align-self: center;
  background: linear-gradient(#2d1436, #2d1436) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-radius: 10rem;
  border: 1px solid transparent;
  padding: 1.25rem 1.3rem 1.1rem;
}
.profile__col {
  display: flex;
  gap: 1.875rem;
}
.profile__block {
  display: grid;
  grid-template-areas: "photo head" "photo data" "photo text" "subphoto text" "subphoto regdate";
  gap: 0 1.875rem;
}
.profile__row_photo {
  grid-area: photo;
}
.profile__photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 31.25rem;
  width: 23.75rem;
  border-radius: 3.125rem;
  background: url(/assets/png/profile__0.png) no-repeat;
  margin: 0 0 0.625rem 0;
}
.profile__photo-buttons {
  margin: 0 auto;
}
.profile__bookmark {
  padding: 1.875rem;
  align-self: flex-start;
}
.profile__like, .profile__close {
  margin: 0 auto 1.875rem;
  padding: 1.3rem 1.125rem 1rem;
  border-radius: 3.125rem;
  width: 3.75rem;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
}
.profile__close {
  display: none;
  background: linear-gradient(90deg, #0575e6 0%, #021b79 100%);
}
.profile__subphotos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: subphoto;
}
.profile__subphotos > * {
  width: 5.5625rem;
  height: 5.5625rem;
}
.profile__head {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  font-size: 2em;
  grid-area: head;
}
.profile__header-row {
  display: flex;
  gap: 0.5rem;
}
.profile__status {
  box-shadow: 0px 4px 20px #33e159;
  align-self: flex-start;
}
.profile__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.75rem;
  gap: 0.625rem;
  font-size: 0.875rem;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  border-radius: 6.25rem;
  padding: 0.875rem 1.875rem;
}
.profile__data {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  grid-area: data;
}
.profile__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.625em;
  font-weight: 400;
}
.profile__table-row {
  background: url(/assets/svg/lines.svg) repeat-x center;
}
.profile__table-row:first-child {
  font-size: 1.125em;
  font-weight: 500;
}
.profile__table-col:last-child {
  text-align: end;
}
.profile__text {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  grid-area: text;
}
.profile__name {
  font-size: 1.125em;
  font-weight: 500;
}
.profile__par {
  font-weight: 400;
  line-height: 150%;
}
.profile__regdate {
  grid-area: regdate;
  color: #8b5d9a;
}

@media (max-width: 1055px) {
  .profile__changer {
    display: none;
  }
}
@media (max-width: 850px) {
  .profile__text {
    font-size: 0.75em;
  }
}
@media (max-width: 768px) {
  .profile__block {
    grid-template-areas: "photo" "photo" "text" "head" "subphoto" "data" "regdate";
    gap: 2rem;
  }
  .profile__row_photo {
    margin: 0 auto;
  }
  .profile__header-row {
    display: none;
  }
  .profile__button {
    width: auto;
  }
  .profile__text {
    font-size: 1em;
    gap: 1.5rem;
  }
}
@media (max-width: 500px) {
  .header {
    background: none;
    z-index: 1;
  }
  .header__bell-svg path, .header__search path {
    fill: #42204e;
  }
  .container {
    padding: 0;
  }
  .profile {
    margin: 0;
  }
  .profile__subphotos, .profile__head, .profile__data, .profile__text, .profile__regdate {
    padding: 0 1rem;
  }
  .profile__regdate {
    font-size: 0.875em;
  }
  .profile__button {
    padding: 1.4375rem 1.875rem;
  }
  .profile__subphotos {
    display: flex;
    gap: 0.5rem;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .profile__subphotos::-webkit-scrollbar {
    display: none;
  }
  .profile__row_photo {
    width: 100%;
    height: calc(100vh - 7.5rem);
  }
  .profile__bookmark {
    display: none;
  }
  .profile__photo {
    position: relative;
    top: -20%;
    justify-content: flex-end;
    width: 100%;
    height: 100vh;
    border-radius: 0;
    background-size: cover;
  }
  .profile__photo-buttons {
    display: flex;
    gap: 1rem;
  }
  .profile__close {
    display: block;
  }
}