a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  color: #fff;
  background: #230E2B;
  background: radial-gradient(circle at center bottom, #381a42 0%, #230e2b 60%) no-repeat, #230e2b;
  cursor: default;
}

button {
  font-family: "Rubik", sans-serif;
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
}

input:focus {
  outline: none;
}

select:focus {
  outline: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.blob-left {
  position: absolute;
  width: 100%;
  left: -60%;
  z-index: -1;
}
.blob-left:nth-of-type(2) {
  filter: blur(0.5rem);
}

.blob-right {
  position: absolute;
  width: 100%;
  right: -60%;
  z-index: -1;
}
.blob-right:last-of-type {
  filter: blur(0.5rem);
}

.container {
  max-width: 73.75em;
  margin: 0 auto;
  padding: 0 1rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 1 auto;
  position: relative;
}

.header__country-select {
  font-size: 1em;
  color: #fff;
  background: none;
  border: none;
}
.header .header__country {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b0522;
  padding: 0.75rem;
  gap: 1em;
}
.header .header__country-text {
  font-size: 1em;
  text-transform: uppercase;
}
.header .header__country-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header .header__country-row .header__country-button {
  align-self: flex-start;
  height: 24px;
}
.header .header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__logo-link {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header .header__list {
  display: none;
}
.header .header__menu--logout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.header .header_--login-link {
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  background: linear-gradient(#230E2B, #230E2B) padding-box, linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  padding: 0.6875rem 2.25rem;
}
.header .header__menu--login {
  display: none;
}
.header .header__burger {
  display: none;
}

.footer {
  font-size: 0.875em;
  padding: 1.875rem;
}
.footer .footer__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer .footer__list {
  display: flex;
  justify-content: space-between;
  gap: 1.125rem;
}
.footer .footer__lang-select {
  color: #fff;
  background: none;
  border: none;
}

@media (max-width: 1024px) {
  .footer .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__menu {
    font-size: 0.75rem;
    white-space: nowrap;
  }
  .footer .footer__politics,
.footer .footer__menu,
.footer .footer__lang {
    margin: 0 0 1.25rem 0;
  }
  .footer .footer__copyright {
    font-size: 0.875em;
  }
}
@media (max-width: 500px) {
  .footer {
    padding: 1rem;
  }
  .footer__menu {
    gap: 0.625rem;
  }
}
@media (max-width: 400px) {
  .footer {
    font-size: 0.625em;
  }
  .footer .footer__list {
    gap: 0.3rem;
  }
}
@media (max-width: 600px) {
  .header .header__country {
    display: none;
  }
  .header__row {
    flex-direction: column;
    margin: 1.25rem 0 1.875rem 0;
  }
  .header__row .header__logo {
    margin: 0 0 1.25rem 0;
  }
  .header__menu--logout {
    flex-direction: column;
  }
}
body {
  background: #230E2B;
  background: radial-gradient(circle at 40% top, #381a42 0%, #230e2b 60%) no-repeat, #230e2b;
}

.main {
  min-height: calc(100vh - 6.875rem - 4.6875rem);
}

.register__text {
  font-size: 2.25em;
  text-align: center;
  margin: 0 0 0.625rem 0;
}
.register__subtext {
  color: #6e447b;
  margin: 0 0 1.875rem 0;
  text-align: center;
}
.register__row {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}
.register__form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.register__form_password {
  position: relative;
}
.register__form_showpass {
  position: absolute;
  right: 5%;
  top: 35%;
}
.register__input {
  text-indent: 1em;
  padding: 1.4375rem 0;
  border: 0;
  border-radius: 6.25rem;
  background: #42204E;
  color: #8b5d9a;
}
.register__input::-moz-placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.register__input:-ms-input-placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.register__input::placeholder {
  font-family: "Rubik", sans-serif;
  color: #8b5d9a;
}
.register__input_icon {
  text-indent: 3rem;
  width: 100%;
  position: relative;
}
.register__input_icon:first-child {
  background: url(/assets/svg/user.svg) no-repeat left 1rem center, #42204E;
}
.register__input_icon:nth-of-type(2) {
  background: url(/assets/svg/message.svg) no-repeat left 1rem center, #42204E;
}
.register__input_icon:last-of-type {
  background: url(/assets/svg/password.svg) no-repeat left 1rem center, #42204E;
}
.register__date {
  display: flex;
  gap: 0.3125rem;
  width: 100%;
}
.register__gender {
  display: flex;
  justify-content: space-around;
}
.register__gender_radio {
  padding: 2em;
  border: 1px solid #ee0d88;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 6.25rem;
  width: 50%;
  background: url(/assets/svg/male.svg) no-repeat center;
}
.register__gender_radio:last-child {
  background: url(/assets/svg/female.svg) no-repeat center;
}
.register__gender_radio:first-child:checked {
  background: url(/assets/svg/male.svg) no-repeat center, #056bda;
  border: none;
}
.register__gender_radio:last-child:checked {
  background: url(/assets/svg/female.svg) no-repeat center, #056bda;
  border: none;
}
.register__day {
  font-size: 0.875em;
  color: #6e447b;
}
.register__input-day, .register__input-month, .register__input-year {
  padding: 1.4375rem;
  text-indent: 0;
}
.register__input-day, .register__input-year {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 25%;
  text-align: center;
}
.register__input-month {
  width: 70%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: url(/assets/svg/arrow.svg) no-repeat right 1rem center, #42204E;
}
.register__create-button {
  flex-flow: "Rubik", sans-serif;
  color: #fff;
  background: linear-gradient(90deg, #ee0979, #ff6a00);
  box-shadow: 0 5px 50px rgba(238, 9, 121, 0.2), 0 5px 50px rgba(255, 106, 0, 0.2);
}

@media (max-width: 1024px) {
  .blob-left,
.blob-right {
    top: 20%;
  }
  .main {
    min-height: calc(100vh - 6.875rem - 10.9375rem);
  }
}
@media (max-width: 768px) {
  .blob-left {
    top: 45%;
  }
  .blob-right {
    top: 30%;
  }
}
@media (max-width: 600px) {
  .main {
    min-height: calc(100vh - 9.5rem - 10.9375rem);
  }
  .register__text {
    font-size: 1.75em;
  }
}
@media (max-width: 340px) {
  .register__input {
    font-size: 0.75em;
  }
  .register__input-month {
    width: 60%;
    background: #42204E;
  }
}