@import "_header";
@import "_footer";
@import "_variables";
@import "_default.scss";

@include header__login();

.main {
    min-height: calc(100vh - 6.875rem - 4.6875rem);

    .catalog__col {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .catalog__row {
        display: flex;
    }
}
