@use "abstracts/" as *;
@use "layouts/" as *;

@include header__login();

.main {
    display: block;
}

.catalog {
    &__col {
        display: flex;
        flex-direction: column;
        gap: 3.125rem;
        margin: 1.875rem 0 0 0;
    }

    &__header {
        font-size: 1.75em;
        margin: 0 0 1.25rem 0;
    }

    &__row {
        display: flex;
        gap: 1.25rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        justify-content: flex-end;
        gap: 0.625rem;
        font-weight: 500;
        line-height: 150%;
        width: 13.75rem;
        height: 21.875rem;
        background: url(/assets/png/catalog__item-1.png) no-repeat;
        border-radius: 30px;
        transition: transform 0.3s ease-in-out;
        &_online {
            .catalog__item-name::after {
                content: url(/assets/svg/catalog__item_online.svg);
                position: relative;
                top: -0.5rem;
                margin: 0.625rem;
            }
        }

        &-info {
            padding-top: 100%;
        }

        &:hover {
            transform: scale(1.1);
            box-shadow: 0 5px 20px rgb(238 9 121 / 20%), 0 5px 50px rgb(255 106 0 / 20%);
        }
    }

    &__item-name,
    &__item-country {
        padding: 0 0 0 1.25rem;
    }

    &__country-flag {
        width: 1.125rem;
    }

    &__item-country {
        display: flex;
        align-items: center;
        gap: 0.3125rem;
        font-size: 0.75em;
    }

    &__item-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.625rem;
        width: 100%;
        font-size: 0.875em;
        background: linear-gradient(45deg, #ee0979, #ff6a00, #0575e6 , #021b79,#ee0979, #ff6a00,#0575e6 , #021b79);
        background-size: 700%;
        border-radius: 6.25rem;
        padding: 0.875rem 1.875rem;
        z-index: 1;

        &:hover {
            animation: glow 10s linear infinite;
        }
    }

    @keyframes glow {
        0% {
            background-position: 0;
        }
        50% {
            background-position: 100%;
        }
        100% {
            background-position: 0;
        }
    }

    @media (max-width: 1300px) {
        .container {
            padding: 0;
        }

        &__row {
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        &__row::-webkit-scrollbar {
            display: none;
        }
    }

    @media (max-width: 1180px) {
        &__header {
            padding: 0 1rem;
        }
    }

    @media (max-width: 425px) {
        &__header {
            font-size: 1.376em;
        }
    }
}
