@use "abstracts/" as *;
@use "layouts/" as *;

@include header__logout();

.main {
    min-height: calc(100vh - 6.875rem - 4.6875rem);
}

.login {
    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        max-width: 72%;
    }

    &__header {
        font-size: 3.75em;
        font-weight: 500;
        text-align: center;
        margin: 0 0 0.625em 0;
    }

    &__text {
        text-align: center;
        line-height: 150%;
    }

    &__form {
        width: 50%;
        margin: 3.125rem 0 0;

        &__row {
            display: flex;
            flex-direction: column;
        }

        &-input {
            width: 100%;
            color: #8b5d9a;
            border: none;
            border-radius: 6.25rem;
            padding: 1.4375rem 0;
            text-indent: 3rem;
            margin: 0 0 0.625rem 0;
            background: url(/assets/svg/message.svg) no-repeat left 1rem center, $input-bg;

            &::placeholder {
                font-family: "Rubik", sans-serif;
                color: #8b5d9a;
            }

            &_button {
                background: url(/assets/svg/password.svg) no-repeat left 1rem center, $input-bg;
            }
        }

        &_password {
            position: relative;
        }

        &-showpass {
            position: absolute;
            right: 5%;
            top: 29%;
        }

        &-button {
            width: 100%;
            padding: 1.4375rem 0;
            border-radius: 6.25rem;
            background: $button-bg;
            box-shadow: 0 5px 20px rgba(238, 9, 121, 0.2), 0 5px 50px rgba(255, 106, 0, 0.2);
            z-index: -1;
            margin: 0 0 1.25rem 0;
            transition: box-shadow 0.3s;

            &:hover {
                box-shadow: 0 0 0 rgba(238, 9, 121, 0), 0 5px 50px rgba(255, 106, 0, 0);
            }
        }

        &-button-forget {
            width: 100%;
            font-size: 0.875em;
            align-self: center;
            color: #925fa4;
        }
    }
}

@media (max-width: 1024px) {
    .blob-left,
    .blob-right {
        top: 20%;
    }

    .main {
        min-height: calc(100vh - 6.875rem - 10.9375rem);
    }

    .container {
        padding: 1rem;
    }
}

@media (max-width: 768px) {
    .blob-right {
        top: 50%;
    }

    .login {
        &__header {
            font-size: 2.25em;
        }

        &__form {
            width: 100%;
        }
    }
}

@media (max-width: 600px) {
    .main {
        min-height: calc(100vh - 9.5rem - 10.9375rem);
    }
    .login {
        &__row {
            max-width: 90%;
        }
    }
}
