@use "abstracts/" as *;

@include header__logout();

body {
    background: $color-bg;
    background: radial-gradient(circle at 40% top, #381a42 0%, #230e2b 60%) no-repeat, #230e2b;
}

.main {
    min-height: calc(100vh - 6.875rem - 4.6875rem);
    align-items: stretch;

    .register__text {
        font-size: 2.25em;
        text-align: center;
        margin: 0 0 0.625rem 0;
    }

    .register__subtext {
        color: #6e447b;
        margin: 0 0 1.875rem 0;
        text-align: center;
    }

    .register__row {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;

        .register__form {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            &_password {
                position: relative;

                .register__form-showpass {
                    position: absolute;
                    right: 5%;
                    top: 30%;
                }
            }
        }

        .register__input {
            text-indent: 1em;
            padding: 1.4375rem 0;
            border: 0;
            border-radius: 6.25rem;
            background: $input-bg;
            color: #8b5d9a;

            &::placeholder {
                font-family: "Rubik", sans-serif;
                color: #8b5d9a;
            }
        }

        .register__input_icon {
            text-indent: 3rem;
            width: 100%;
            position: relative;

            &:first-child {
                background: url(/assets/svg/user.svg) no-repeat left 1rem center, $input-bg;
            }

            &:nth-of-type(2) {
                background: url(/assets/svg/message.svg) no-repeat left 1rem center, $input-bg;
            }

            &:last-of-type {
                background: url(/assets/svg/password.svg) no-repeat left 1rem center, $input-bg;
            }
        }

        .register__date {
            display: flex;
            gap: 0.3125rem;
            width: 100%;
        }

        .register__gender {
            display: flex;
            justify-content: space-around;

            .gender {
                padding: 2em;
                border: 1px solid #ee0d88;
                appearance: none;
                border-radius: 6.25rem;
                width: 50%;
                background: url(/assets/svg/male.svg) no-repeat center;

                &:last-child {
                    background: url(/assets/svg/female.svg) no-repeat center;
                }

                &:first-child:checked {
                    background: url(/assets/svg/male.svg) no-repeat center, #056bda;
                    border: none;
                }

                &:last-child:checked {
                    background: url(/assets/svg/female.svg) no-repeat center, #056bda;
                    border: none;
                }
            }
        }

        .register__day {
            font-size: 0.875rem;
            color: #6e447b;
        }

        .register__input-day,
        .register__input-month,
        .register__input-year {
            padding: 1.4375rem;
            text-indent: 0;
        }

        .register__input-day,
        .register__input-year {
            appearance: none;
            width: 25%;
            text-align: center;
        }

        .register__input-month {
            width: 70%;
            appearance: none;
            background: url(/assets/svg/arrow.svg) no-repeat right 1rem center, $input-bg;
        }

        .register__create-button {
            color: #fff;
            background: $button-bg;
            box-shadow: 0 5px 50px rgba(238, 9, 121, 0.2), 0 5px 50px rgba(255, 106, 0, 0.2);
        }
    }
}

@media (max-width: 1024px) {
    .blob-left,
    .blob-right {
        top: 20%;
    }
    .main {
        min-height: calc(100vh - 6.875rem - 10.9375rem);
    }
}

@media (max-width: 768px) {
    .wrapper .blob-left {
        top: 45%;
    }

    .blob-right {
        top: 30%;
    }
}

@media (max-width: 600px) {
    .main {
        min-height: calc(100vh - 9.5rem - 10.9375rem);
        .register__text {
            font-size: 1.75rem;
        }
    }
}

@media (max-width: 340px) {
    .main {
        .register__input {
            font-size: 0.75rem;
        }

        .register__row {
            .register__input-month {
                width: 60%;
                background: $input-bg;
            }
        }
    }
}
