<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/tariffs.css">
    <title>Tarrifs</title>
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__country country">
                <p class="header__country-text">
                    Знакомства по всему миру
                </p>
                <div class="header__country-row">
                    <img src="/assets/svg/flag.svg" alt="" class="header__country-flag">
                    <form class="header__country-form">
                        <select class="header__country-select">
                            <option value="us">Америка</option>
                            <option value="ua">Украина</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="container">
                <div class="header__row">
                    <div class="header__logo">
                        <a href="/index.html" class="header__logo-link">
                            <img class="header__logo-image" src="/assets/svg/logo.svg" alt="logo">
                            <span class="header__logo-name">Znakomstva.com</>
                        </a>
                    </div>
                    <ul class="header__list">
                        <li class="header__list-item">
                            <a href="/views/catalog.html" class="header__list-link ">Анкеты</a>
                        </li>
                        <li class="header__list-item">
                            <a href="" class="header__list-link">Сообщения</a>
                        </li>
                        <li class="header__list-item">
                            <a href="" class="header__list-link header__list_active">Подписка</a>
                        </li>
                    </ul>
                    <div class="header__menu_login">
                        <div class="header__col">
                            <div class="header__menu-country country">
                                <form class="header__country-form">
                                    <select class="header__menu-select">
                                        <option value="us">Америка</option>
                                        <option value="ua">Украина</option>
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button class="header__search">
                        <svg class="header__search-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 20 20" fill="none">
                            <g clip-path="url(#clip0_802_286)">
                                <path
                                    d="M19.3613 18.2168L14.6012 13.2662C15.8251 11.8113 16.4957 9.98069 16.4957 8.07499C16.4957 3.62251 12.8732 0 8.4207 0C3.96821 0 0.345703 3.62251 0.345703 8.07499C0.345703 12.5275 3.96821 16.15 8.4207 16.15C10.0922 16.15 11.6851 15.6458 13.047 14.6888L17.8432 19.677C18.0436 19.8852 18.3133 20 18.6022 20C18.8757 20 19.1352 19.8957 19.3321 19.7061C19.7506 19.3034 19.764 18.6357 19.3613 18.2168ZM8.4207 2.10652C11.7118 2.10652 14.3892 4.78391 14.3892 8.07499C14.3892 11.3661 11.7118 14.0435 8.4207 14.0435C5.12961 14.0435 2.45222 11.3661 2.45222 8.07499C2.45222 4.78391 5.12961 2.10652 8.4207 2.10652Z"
                                    fill="#925FA4" />
                            </g>
                            <defs>
                                <clipPath id="clip0_802_286">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                    <button class="header__bell">
                        <svg class="header__bell-svg" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                            viewBox="0 0 20 20" fill="#925FA4">
                            <g clip-path="url(#clip0_802_280)">
                                <path
                                    d="M17.8162 14.0942C16.5562 13.0292 15.8337 11.4725 15.8337 9.82333V7.5C15.8337 4.5675 13.6553 2.14 10.8337 1.73333V0.833333C10.8337 0.3725 10.4603 0 10.0003 0C9.54033 0 9.16699 0.3725 9.16699 0.833333V1.73333C6.34449 2.14 4.16699 4.5675 4.16699 7.5V9.82333C4.16699 11.4725 3.44449 13.0292 2.17699 14.1008C1.85283 14.3783 1.66699 14.7817 1.66699 15.2083C1.66699 16.0125 2.32116 16.6667 3.12533 16.6667H16.8753C17.6795 16.6667 18.3337 16.0125 18.3337 15.2083C18.3337 14.7817 18.1478 14.3783 17.8162 14.0942Z"
                                    fill="#925FA4" />
                                <path
                                    d="M10.0001 20C11.5093 20 12.7718 18.9242 13.0618 17.5H6.93848C7.22848 18.9242 8.49098 20 10.0001 20Z"
                                    fill="#925FA4" />
                            </g>
                            <defs>
                                <clipPath id="clip0_802_280">
                                    <rect width="20" height="20" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </button>
                    <a href="/views/settings.html" class="header__user">
                        <img src="/assets/png/user.png" alt="" class="header__user-image">
                        <p class="header__user-name">Иван Иванов</p>
                    </a>
                    <div class="header__burger">
                        <span></span>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">
            <section class="tariffs">
                <div class="container">
                    <h1 class="tariffs__header">Тарифы</h1>
                    <div class="tariffs__row">
                        <div class="tariffs__item">
                            <img src="/assets/svg/sun.svg" alt="icon" class="tariffs__svg">
                            <div class="tariffs__text">
                                <p class="tariffs__time">1 день</p>
                                <p class="tariffs__price">500 руб.</p>
                            </div>
                            <button class="tariffs__button">
                                Провести оплату
                            </button>
                        </div>
                        <div class="tariffs__item">
                            <img src="/assets/svg/calendar.svg" alt="icon" class="tariffs__svg">
                            <div class="tariffs__text">
                                <p class="tariffs__time">1 день</p>
                                <p class="tariffs__price">500 руб.</p>
                            </div>
                            <button class="tariffs__button">
                                Провести оплату
                            </button>
                        </div>
                        <div class="tariffs__item">
                            <img src="/assets/svg/fire.svg" alt="icon" class="tariffs__svg">
                            <div class="tariffs__text">
                                <p class="tariffs__time">1 день</p>
                                <p class="tariffs__price">500 руб.</p>
                            </div>
                            <button class="tariffs__button">
                                Провести оплату
                            </button>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__row">
                    <div class="footer__menu">
                        <ul class="footer__list">
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-link">
                                    О нас
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-link">
                                    Поддержка
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-link">
                                    Советы
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-link">
                                    Контакты
                                </a>
                            </li>
                            <li class="footer__list-item">
                                <a href="#" class="footer__list-link">
                                    Правила оплаты
                                </a>
                            </li>
                        </ul>
                    </div>
                    <a href="/404.html" class="footer__politics">Политика обработки персональных данных</a>
                    <div class="footer__lang">
                        <form class="footer__country-form">
                            <select class="footer__lang-select">
                                <option value="ru">RU</option>
                                <option value="ru">UA</option>
                                <option value="ru">US</option>
                            </select>
                        </form>
                    </div>
                    <p class="footer__copyright">
                        © Company 2021
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>

</html>