.footer {
    font-size: 0.875rem;
    padding: 1.875rem;

    .footer__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer__list {
        display: flex;
        justify-content: space-between;
        gap: 1.125rem;
    }

    .footer__lang-select {
        color: #fff;
        background: none;
        border: none;
    }
}

@media (max-width: 1024px) {
    .footer {
        .footer__row {
            flex-direction: column;
            align-items: center;
        }

        .footer__menu {
            font-size: 0.75rem;
            white-space: nowrap;
        }

        .footer__politics, .footer__menu, .footer__lang {
            margin: 0 0 1.25rem 0;
        }

        .footer__copyright {
            font-size: 0.875rem;
        }
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 1rem;
    }

    .footer__menu {
        gap: 0.625rem;
    }
}

@media (max-width: 400px) {
    .footer {
        font-size: 10px;
    }

    .footer .footer__list {
        gap: 0.3rem;
    }
}