@use "../abstracts/" as *;

.tab {
    align-self: flex-start;
    background: $bg-secondary;
    border-radius: 1.875rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 23%;
    gap: 1.25rem;
    padding: 1.875rem 0;

    &__item {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        padding: 0 1.875rem;

        &_active {
            padding: 0 1.75rem;
            background: linear-gradient($bg-secondary, $bg-secondary) padding-box, $button-bg border-box;
            border-left: 2px solid transparent;
            .tab__svg path {
                fill: url(#gradient);
            }
        }

        &:last-child {
            margin: 3.125rem 0 0 0;
        }

        &:hover {
            .tab__svg path {
                fill: url(#gradient);
            }
        }
    }

    &__form {
        display: none;
    }

    @media (max-width: 920px) {
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        padding: 0;

        &__item {
            padding: 0;

            &_active {
                padding: 1.875rem 0;
                border-left: none;
                border-bottom: 2px solid transparent;
            }

            &:last-child {
                margin: 0;
            }
        }
    }

    @media (max-width: 620px) {
        &__svg {
            width: 2rem;
            height: 2rem;
        }

        &__link {
            display: none;
        }
    }

    @media (max-width: 425px) {
        &__item {
            display: none;
        }

        &__form {
            display: block;
            width: 100%;
            &_select {
                appearance: none;
                position: relative;
                width: 100%;
                font-size: 1rem;
                line-height: 150%;
                color: $white;
                background: linear-gradient($color-bg-main, $color-bg-main) padding-box, $button-bg border-box;
                border-radius: 10rem;
                border: 1px solid transparent;
                padding: 1.125rem 1.875rem;
            }

            &::after {
                content: "";
                background: url(/assets/svg/arrow.svg) no-repeat right center;
                width: 18px;
                height: 18px;
                top: 36px;
                right: 10%;
                position: absolute;
            }
        }
    }
}
