@use "../abstracts/" as *;

.footer {
    font-size: 0.875em;
    padding: 1.875rem;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        gap: 1.125rem;
    }

    &__lang-select {
        color: $white;
        background: none;
        border: none;
    }

    @media (max-width: 1024px) {
        &__row {
            flex-direction: column;
            align-items: center;
        }

        &__menu {
            font-size: 0.75rem;
            white-space: nowrap;
        }

        &__politics,
        &__menu,
        &__lang {
            margin: 0 0 1.25rem 0;
        }

        &__copyright {
            font-size: 0.875em;
        }
    }

    @media (max-width: 500px) {
        padding: 1rem;

        &__menu {
            gap: 0.625rem;
        }
    }

    @media (max-width: 400px) {
        font-size: 0.625em;

        &__list {
            gap: 0.3rem;
        }
    }
}
