@use "../abstracts/variables" as *;

@mixin header__login() {
    .header {
        background: #2d1436;

        &__row {
            height: 7.5rem;
        }

        &__menu--logout {
            display: none;
        }

        &__menu {
            &--login {
                display: flex;
                justify-content: space-between;
            }

            &-select {
                font-size: 1em;
                color: #fff;
                background: none;
                border: none;
            }
        }

        &__list,
        &__col {
            display: flex;
            align-items: center;
            gap: 3.125rem;
        }

        &__list {
            &-link:hover {
                color: #fe6703;
            }
        }

        &__list_active {
            color: #fe6703;
            background: linear-gradient(#2d1436, #2d1436) padding-box,
                linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
            border-bottom: 4px solid transparent;
            padding: 0 0 2.875rem 0;
        }

        &__user {
            display: flex;
            align-items: center;
            gap: 1rem;

            &-name {
                &:hover {
                    color: #fe6703;
                }
            }
        }

        &__search {
            position: relative;
            left: 60px;
        }

        @media (max-width: 1180px) {
            &__search {
                position: relative;
                left: 30px;
            }
        }

        @media (max-width: 1024px) {
            &__list {
                gap: 2rem;
            }

            &__user-name {
                display: none;
            }

            &__col {
                gap: 2rem;
            }
        }

        @media (max-width: 920px) {
            &__search {
                position: static;
            }
        }

        @media (max-width: 800px) {
            &__logo-name {
                display: none;
            }

            &__list {
                gap: 1rem;
            }

            &__col {
                gap: 1rem;
            }
        }

        @media (max-width: 600px) {
            &__country {
                display: none;
            }

            &__menu-country {
                display: none;
            }
        }

        @media (max-width: 500px) {
            &__row {
                justify-content: space-around;
            }

            &__logo-image {
                width: 2.5rem;
            }

            &__menu--login {
                display: none;
            }

            &__list {
                display: none;
            }

            &__search-svg {
                width: 1.875rem;
                height: 1.875rem;
            }

            &__bell-svg {
                width: 1.875rem;
                height: 1.875rem;
            }

            &__burger {
                display: block;
                position: relative;
                width: 1.875rem;
                height: 1.5625rem;
            }

            &__burger::before,
            &__burger::after {
                content: "";
                position: absolute;
                width: 100%;
                left: 0;
                background: $button-bg;
                height: 3px;
                border-radius: 6.25rem;
            }

            &__burger span {
                position: absolute;
                background: $button-bg;
                left: 0;
                width: 100%;
                height: 3px;
                top: 11px;
                border-radius: 6.25rem;
            }

            &__burger::before {
                top: 0;
            }

            &__burger::after {
                bottom: 0;
            }
        }
    }
}

@mixin header__logout() {
    .header {
        &__login-link {
                position: relative;
                transition: all .35s;

            &--text {
                position: relative;
                z-index: 2;
            }
            
            &:after{
                position: absolute;
                border-radius: 50em;
                transform: scale(0);
                content: "";
                top: 0;
                left: 0;
                width: 0;
                height: 100%;
                background: $button-bg;
                transition: all .35s;
              }
              
              &:hover{
                color: #fff;
              }
              
              &:hover:after{
                transform: scale(1);
                width: 100%;
              }
        
        }
    }
    
    @media (max-width: 600px) {
        .header {
            &__country {
                display: none;
            }
        
            &__row {
                flex-direction: column;
                margin: 1.25rem 0 1.875rem 0;
            }

                    
            &__logo {
                margin: 0 0 1.25rem 0;
            }
        
            &__menu--logout {
                flex-direction: column;
            }
        }
    }
}


.header {
    &__country {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #1b0522;
        padding: 0.75rem;
        gap: 1em;

        &-select {
            font-size: 1em;
            color: #fff;
            background: none;
            border: none;
        }

        &-text {
            font-size: 1em;
            text-transform: uppercase;
        }

        &-row {
            display: flex;
            align-items: center;
            gap: 0.5rem;
        }

        &-button {
            align-self: flex-start;
            height: 24px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo-link {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    &__logo-name {
        &:hover {
            color: #fe6703;
        }
    }

    &__login-link {
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        background: linear-gradient($color-bg, $color-bg) padding-box,
            linear-gradient(to right, #ee0979 0%, #ff6a00 100%) border-box;
        border: 1px solid transparent;
        border-radius: 50em;
        padding: 0.6875rem 2.25rem;
    }

    &__list {
        display: none;
    }

    &__menu--logout {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }

    &__menu--login {
        display: none;
    }

    &__burger {
        display: none;
    }
}
