@use "variables.scss" as *;

@mixin button__animate($item) {
    background: linear-gradient(
        45deg,
        $gradient-bright-part1,
        $gradient-bright-part2,
        $gradient-blue-part1,
        $gradient-blue-part2,
        $gradient-bright-part1,
        $gradient-bright-part2,
        $gradient-blue-part1,
        $gradient-blue-part2
    );
    background-size: 700%;

    &:hover {
        animation: glow 10s linear infinite;
    }

    @keyframes glow {
        0% {
            background-position: 0;
        }
        50% {
            background-position: 100%;
        }
        100% {
            background-position: 0;
        }
    }
}

a {
    color: $white;
    text-decoration: none;
    cursor: pointer;
}

body {
    font-family: "Rubik", sans-serif;
    color: $white;
    background: $color-bg-main;
    background: radial-gradient(circle at center bottom, $color-bg-second 0%, $color-bg-main 60%) no-repeat,
        $color-bg-main;
    cursor: default;
}

button {
    font-family: "Rubik", sans-serif;
    font-size: 1em;
    color: $white;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

select {
    cursor: pointer;
}

input:focus {
    outline: none;
}

input[type="file"] {
    display: none;
}

select:focus {
    outline: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.blob-left {
    position: absolute;
    width: 100%;
    left: -60%;
    z-index: -1;

    &:nth-of-type(2) {
        filter: blur(0.5rem);
    }
}

.blob-right {
    position: absolute;
    width: 100%;
    right: -60%;
    z-index: -1;

    &:last-of-type {
        filter: blur(0.5rem);
    }
}

.container {
    max-width: 73.75em;
    margin: 0 auto;
    padding: 0 1rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1 1 auto;
    position: relative;
}
