$color-bg-main: #230E2B;
$color-bg-second: #381a42;
$input-bg: #42204E;
$placeholder-color: #8b5d9a;
$gradient-bright-part1: #ee0d88;
$gradient-bright-part2: #ff6a00;
$gradient-blue-part1: #0575E6;
$gradient-blue-part2: #021B79;
$button-bg: linear-gradient(to right, $gradient-bright-part1, $gradient-bright-part2);
$button-bg-blue: linear-gradient(to right, #0575E6, #021B79);
$bg-secondary: #1c0a22;
$bg-button: #3b2143;
$font-button: #694b73;
$white: #fff;
$subtext: #6e447b;
$underline-color: #4a2956;
$button-text-subcolor: #925fa4;
$bg-button-secondary-color: #2d1436;
$status-color: #33e159;
$svg-color: #42204e;
$text-hover-color: #fe6703;